<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
<link rel="icon" href="/img/logo1.png">
  <meta name="robots" content="noindex">
  <link rel="stylesheet" href="/css/404.css">
  <title>Сторінку не знайдено</title>
</head>
<body>
  <img src="/img/robot.jpg">
  <h1>
    <span class="wave">4</span>
    <span class="wave">♻️</span>
    <span class="wave">4</span>
  </h1>
  <p>Ой! Сторінку не знайдено. Бачимо, ви так хотіли вивезти сміття, що аж заблукали. Краще повертайтеся на головну!</p>
  <a href="/">Повернутись на головну</a>

</body>
</html>